body{
  background-color: blue; 

}
.dolarccl{
  color: yellow;
  font: impact;
}
.dolaroficial{
  color: yellow;
  font: impact;
}
.dolarblue{
color: yellow;
  font: impact;
}
.dolarbolsa{
  color: yellow;
  font: impact;
}
.dolarmayorista{
  color: yellow;
  font: impact;
}
.dolarcripto{
  color: yellow;
  font: impact;
}
.dolartarjeta{
  color: yellow;
  font: impact;
}
.oficial{
color: yellow;;
}
.bolsa{
  color: yellow;;
}
.blue{
  color: yellow;;
}
.cripto{
  color: yellow;;
}
.mayorista{
  color: yellow;;
}
.ccl{
  color: yellow;;
}
.tarjeta{
  color: yellow;;
}